<div class="container">
    <div class="row my-2">
        <div class="col-lg-4 text-xs-center">
            <img src=<%= current_user.image %> class="mx-auto img-fluid img-circle" alt="avatar">
        </div>

        <div class="col-lg-8">
            <h4 class="mt-2">User Profile</h4>
            <p class="mb-2"><small>This is the content of <code>req.user</code>.</small></p>

            <pre><%= JSON.pretty_unparse(current_user.extra) %></pre>

        </div>
    </div>
</div>